@charset "UTF-8"; /*文字コード指定*/
@import 'https://fonts.googleapis.com/css?family=Abel';    /* Google Fonts用のCSSを読み込み */
html
{
    font-size: 62.5%; /* 100％で主要ブラウザのデフォルト16px。　62.5％でだいたい10px */
}

body
{
    font-size: 1.4rem; /* ルート（html）のfont-sizeに対する割合のサイズ　だいたい14px　remは相対値*/
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif; /* フォント種類　フォント種類まだよくわかっていない。 */
    letter-spacing: .1em; /* 文字間隔（カーニング）の指定。emは親要素からの相対指定。「.1em」は「0.1em」の事。 */
    color: #4C4C4C;
    background-color: #FDFCF6;
}


a
{
    text-decoration: none;

    color: #14c0c9;
}
a:visited
{
    color: #0f949b;
}
a:hover
{
    color: #0f949b;
}
a:active
{
    color: #16d6e0;
}
a:hover
{
    text-decoration: underline;
}

.button-contact
{
    font-size: 20px;
    line-height: 0;
    
    display: block;
    float: right;
    
    width: 20px;
    height: 20px;
    margin: 20px 20px 0 0;
    padding: 10px;
    
    text-align: center;
    
    color: #4c4c4c;
    border: 2px solid #4c4c4c;
    
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

header .profile
{
       clear: both; /* float解除 */
       
       width: 60%;
       margin: 0 auto;
       padding: 60px 0;
}


header .site-title
{
    font-size: 1.6rem; /* 16px */
    line-height: normal; /* span（名前）との間隔がnormalで良い行間隔になった */
}

header .site-title span
{
    font-size: 4.2rem; /* 42px */
    display: block;
    color: #FF5192; /* ピンク！ */
}

header .profile-icon 
{
    margin: 30px auto;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

header p
{
    font-size: 1.5rem;
    line-height: normal;
}

.abel,
section h2,
#skills h3,
#works .works-box a .works-box-inner .button-readmore
{
   font-family: 'Abel', sans-serif; /* Google Fontsの指定 */
}

.uppercase,
section h2,
#skills h3,
#works .works-box a .works-box-inner .button-readmore
{
    text-transform: uppercase;
}

.text-center
{
    text-align: center;
}

.block-center, 
section .container,
#skills i
{
    display: block;
    
    margin-right: auto;
    margin-left: auto;
    
}

.img-size
{
    width:250px;
    height: 250px;
}

section
{
    padding: 60px 0; /* section要素の余白を上下60％で揃える */
}

section .container
{
    width: 90%; /* secitonの中のインナーボックスをウィンドウ幅に対して90％に */
}

section h2
{
    font-size: 3.2rem; /* section要素見出しを32pxで揃える */
}

#skills
{
    background-color: #FFB6C1; /* うすめのピンク */
}

#skills .container /* flexboxを使用 */
{
    display: -webkit-flex;　/* Flexboxでは、要素に「display: flex;」と指定するだけで一番高い要素に合わせてすべての要素の高さを揃えてくれます。 */
    display:         flex;
    
    justify-content: space-between;　/* 両サイドのアイテムはそれぞれ端に、残りのアイテムは等間隔 */
}

#skills h2
{
    margin-bottom: 60px;
}

#skills .skill-box
{
    -webkit-box-sizing: border-box; /* ボーダー部分も含めてボックスサイズを指定できる */
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-flex: 1;
            flex: 1;
    margin: 0px 10px;
    padding: 20px;

    -webkit-border-radius: 4px; /* 角丸 */
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #FDFCF6;        
}

#skills i{
    font-size: 5rem;
    
    -webkit-box-sizing: border-box; /* ボーダー部分も含めてボックスサイズを指定できる */
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    padding-top: 15px;
    
    text-align: center;
    
    color: #FFF;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: #14C0C9;
}

#skills h3
{
    font-size: 2rem;
    font-weight: bold;
    
    margin-bottom: 10px;
    
    color: #14C0C9;
}


#works
{
    padding-bottom: 0;
}

#works h2
{
    margin-bottom: 50px;
}

#works .works-box
{
    float: left;
    
    width: 33.33333%; /* 3つ並べるから */
    height: 100%;
}

#works::after
{
    display: block;
    clear: both;
    
    content: '';
}


/* ↓　ロールオーバー時に.works-box-innerをサムネイル画像の上に重ねて表示させるためのスタイル　↓ */

#works .works-box a
{
    position: relative;
    
    display: block;
}

#works .works-box a .works-box-inner
{
    position: absolute;
    top: 0;
    left: 0;
    
    display: none;
    
    height: 100%;
    
    color: #FFF;
    background-color: rgba(0, 0, 0, .7);
}

#works .works-box a .works-box-inner div
{
    position absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 40%;
    margin: auto;
    padding: 10px 20px;
}

#works .works-box a .works-box-inner h3
{
    font-size: 1.6rem;
    font-weight: bold;
    
    margin: 0 0 5px;
}

#works .works-box a .works-box-inner small
{
    font-size: 1rem;
    
    display: block;
    
    margin-bottom: 15px;
    
}

#works .works-box a .works-box-inner .button-readmore
{
    font-size: 1rem;
    font-weight: bold;
    
    display: block;
    
    width: 180px;
    margin: auto;
    padding: 5px 0;
    
    text-align: center;
    
    color: #FFF;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
            
    background-color: #14C0C9;        
}

#works .works-box img
{
    display: block;
    max-width: 100%;
}

#works .works-box a:hover .works-box-inner
{
    display: block;
    
    width: 100%;
}

#works .works-box a .works-box-inner .button-readmore:hover
{
    background-color: #0F949B;
}

#contact ul
{
    margin-top: 60px;
    text-align: center;
}

#contact ul li
{
    font-size: 3rem;
    display: inline-block;
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 20px;
   
    
    text-align: center;
    vertical-align: top;
}

#contact ul li :last-child
{
    margin-right: 0;
}

#contact ul .github,
#contact ul .skype
{
    font-size: 3.2rem;

}

#contact ul .github i
{
    margin-left: 2px;
}

#contact ul a
{
    display: block;
    
    width: 50px;
    height: 50px;
    
    color: #FFF;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: #14C0C9;        
}

#contact ul a i
{
 
   padding-top:10px;
      
}


#contact ul a:hover
{
    background-color: #0F949B;
}

footer
{
    padding: 10px 0;
    
    text-align: center;
    
    color: #FFF;
    background-color: #FF5192;
}